.skills {
	display: flex;
	.cont {
		display: flex;
		align-items: center;
		justify-content: center;

		.col {
			display: flex;
			height: 100%;
			width: 100%;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;

			.rowLeft {
				display: flex;
				flex-direction: column;
				width: 90%;
			}
			.rowRight {
				display: flex;
				flex-direction: column;
				width: 90%;

				h2 {
					text-align: center;
				}
				h4 {
					width: 80%;
				}
			}
		}
	}
}
