@import "../../global.scss";
.skills {
	display: flex;
	@include mobile {
		display: inline;
	}
	.cont {
		display: flex;
		align-items: center;
		justify-content: center;
		@include mobile {
			flex-direction: column;
		}

		.col {
			display: flex;
			height: 90%;
			width: 100%;
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;

			@include mobile {
				height: unset;
				margin-top: 40px;
			}

			.rowLeft {
				display: flex;
				flex-direction: column;
				width: 90%;

				h1 {
					overflow: visible;
				}
				p {
					overflow: visible;
				}
			}
			.rowRight {
				display: flex;
				flex-direction: column;
				width: 90%;
				h1 {
					text-align: center;
					font-weight: 600;
				}
				h2 {
					text-align: center;
					margin-top: 30px;
				}
				h4 {
					width: 80%;
				}
			}
		}
	}
}
