@import "../../global.scss";

.portfolioPage {
	height: 100vh;
	width: 100vw;
	overflow: hidden;

	.sections {
		height: calc(100vh - 55px);
		position: relative;
		scroll-behavior: smooth;
		scroll-snap-type: y mandatory;
		overflow: hidden;

		> * {
			width: 100vw;
			height: calc(100vh - 55px);
			scroll-snap-align: start;
			@include mobile {
				scroll-snap-align: unset;
			}
		}
		.item {
			display: flex;
			overflow: hidden;
		}
	}
}
