@import "../../global.scss";
.outer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	@include mobile {
		flex-direction: column;
	}
}

.c1 {
	height: calc(100vh - 70px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include mobile {
		height: unset;
	}
}
.c2 {
	height: calc(100vh - 70px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include mobile {
		height: unset;
	}
}

p {
	font-size: 20px;
}
