@import "../../global.scss";
.outer {
	display: flex;
	flex-direction: row;
	@include mobile {
		display: inline;
	}
}

.c1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include mobile {
		height: unset;
		width: 80%;
		margin: auto;
	}
}
.c2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include mobile {
		height: unset;
		width: 80%;
		margin: auto;
	}
}

p {
	font-size: 20px;
}
