@import "../../global.scss";

.mainPage {
	height: 100vh;
	width: 100vw;
	.sections {
		width: 100%;
		height: calc(100vh - 70px);
		position: relative;
		scroll-behavior: smooth;
		scroll-snap-type: y mandatory;
		scrollbar-width: none;
		background-color: $offWhite;

		&::-webkit-scrollbar {
			width: 12px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			box-shadow: inset 0 0 5px grey;
			border-radius: 10px;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background: #212529;

			border-radius: 10px;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			background: #3c434b;
		}
		> * {
			width: 100vw;
			height: calc(100vh - 70px);
			scroll-snap-align: start;
			@include mobile {
				scroll-snap-align: unset;
			}
		}

		@include mobile {
			height: unset;
		}
	}
}
