@import "../../global.scss";
.contact {
	display: flex;
	flex-direction: column;
}

form {
	position: relative;
	width: 50%;
	height: 80%;
	margin: auto;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20%;
}
