@import "../../global.scss";
.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	position: relative;
	width: 50%;
	@include mobile {
		width: 80%;
	}
}
